*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  scrollbar-width: thin;
  scrollbar-color: #545050 #1B1919;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
  max-height: 534px;
  padding: 0 30px;
  gap: 30px;
  
}

.button {
  font-family: inherit, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  cursor: pointer;
  background: transparent;
  padding: 6px 0;
  border: 1px solid #FFF;
}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible{
  outline: 1px solid rgba(255, 255, 255, 0.70);
  outline-offset: 1px;


}

/* СЕКЦИЯ RESULT */

.result__video-container{
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset,
.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
  padding-bottom: 7px;
}

.search-form__fieldset-title{
  margin-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list:focus {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
}

.search-form__checkbox:focus-visible  span {
  outline: 1px solid #ffffff;
  outline-offset: 0px;
}

.search-form__label-text:focus {
  text-decoration: underline;
}


.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label-text:active {
  text-decoration: none;
}


.search-form__checkbox-list:focus-visible{

}


.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  appearance: none;
  outline: none;
  width: 225px;
  background: transparent;
  color: rgba(255, 255, 255, 0.70);
  border-width: 1px 0 ;
  border-color:#FFF;
}



.search-form__textfield:active{
  outline:  1px solid #fff;
}

.search-form__textfield:focus-visible{
  outline: 1px solid rgba(255, 255, 255, 0.70);
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: transparent;
  transition: .3s;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; 
  margin-right: 2px;
  outline: 1px solid rgba(255, 255, 255, 0.70);
  outline-offset: 1px;
  
}

.search-form__checkbox:checked + span {
  background-color: #FFF;
}

.search-form__submit-button{
  padding: 6px 73px;
}

/*  СЕКЦИЯ CONTENT DETAILS*/


fieldset{
  border: none;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
  line-height: 95%;
}

.content__accent{
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
  outline: none;
  appearance: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}



.content__card-link {
  text-decoration: none;
  margin: 2px;  
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
}

.content__video-card:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:active{
  text-decoration: none;
}



.content__video-link:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.content__video-card-title{
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}


.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}



/* ТЕМПЛЕЙТЫ */

.content__video-card-title {
  font-size: 30px;
}

.more-button {
  width: 99%;
  margin: 2px;
}

/* СКРЫВАЛКА */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 